<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>CMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <res-ref-name>jdbc/MyDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Grievance_change</display-name>
    <servlet-name>Grievance_change</servlet-name>
    <servlet-class>servlets.Grievance_change</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_change</servlet-name>
    <url-pattern>/Grievance_change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grievance_add</display-name>
    <servlet-name>Grievance_add</servlet-name>
    <servlet-class>servlets.Grievance_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_add</servlet-name>
    <url-pattern>/Grievance_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grievance_main</display-name>
    <servlet-name>Grievance_main</servlet-name>
    <servlet-class>servlets.Grievance_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_main</servlet-name>
    <url-pattern>/Grievance_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grievance_view</display-name>
    <servlet-name>Grievance_view</servlet-name>
    <servlet-class>servlets.Grievance_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_view</servlet-name>
    <url-pattern>/Grievance_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grievance_search</display-name>
    <servlet-name>Grievance_search</servlet-name>
    <servlet-class>servlets.Grievance_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_search</servlet-name>
    <url-pattern>/Grievance_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Funds_main</display-name>
    <servlet-name>Funds_main</servlet-name>
    <servlet-class>servlets.Funds_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Funds_main</servlet-name>
    <url-pattern>/Funds_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Funds_add</display-name>
    <servlet-name>Funds_add</servlet-name>
    <servlet-class>servlets.Funds_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Funds_add</servlet-name>
    <url-pattern>/Funds_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify_login</display-name>
    <servlet-name>Verify_login</servlet-name>
    <servlet-class>servlets.Verify_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify_login</servlet-name>
    <url-pattern>/Verify_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editdetails</display-name>
    <servlet-name>Editdetails</servlet-name>
    <servlet-class>servlets.Editdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editdetails</servlet-name>
    <url-pattern>/Editdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editprofile</display-name>
    <servlet-name>Editprofile</servlet-name>
    <servlet-class>servlets.Editprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editprofile</servlet-name>
    <url-pattern>/Editprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Funds_view</display-name>
    <servlet-name>Funds_view</servlet-name>
    <servlet-class>servlets.Funds_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Funds_view</servlet-name>
    <url-pattern>/Funds_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Changeid</display-name>
    <servlet-name>Changeid</servlet-name>
    <servlet-class>servlets.Changeid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Changeid</servlet-name>
    <url-pattern>/Changeid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgotpwd</display-name>
    <servlet-name>Forgotpwd</servlet-name>
    <servlet-class>servlets.Forgotpwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgotpwd</servlet-name>
    <url-pattern>/Forgotpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rejectuser</display-name>
    <servlet-name>Rejectuser</servlet-name>
    <servlet-class>servlets.Rejectuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rejectuser</servlet-name>
    <url-pattern>/Rejectuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approveuser_main</display-name>
    <servlet-name>Approveuser_main</servlet-name>
    <servlet-class>servlets.Approveuser_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approveuser_main</servlet-name>
    <url-pattern>/Approveuser_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home_load</display-name>
    <servlet-name>Home_load</servlet-name>
    <servlet-class>servlets.Home_load</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home_load</servlet-name>
    <url-pattern>/Home_load</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grievance_solve1</display-name>
    <servlet-name>Grievance_solve1</servlet-name>
    <servlet-class>servlets.Grievance_solve1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_solve1</servlet-name>
    <url-pattern>/Grievance_solve1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grievance_solve2</display-name>
    <servlet-name>Grievance_solve2</servlet-name>
    <servlet-class>servlets.Grievance_solve2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_solve2</servlet-name>
    <url-pattern>/Grievance_solve2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Poll_main</display-name>
    <servlet-name>Poll_main</servlet-name>
    <servlet-class>servlets.Poll_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poll_main</servlet-name>
    <url-pattern>/Poll_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Poll_archives</display-name>
    <servlet-name>Poll_archives</servlet-name>
    <servlet-class>servlets.Poll_archives</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poll_archives</servlet-name>
    <url-pattern>/Poll_archives</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Poll_create</display-name>
    <servlet-name>Poll_create</servlet-name>
    <servlet-class>servlets.Poll_create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poll_create</servlet-name>
    <url-pattern>/Poll_create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Poll_vote</display-name>
    <servlet-name>Poll_vote</servlet-name>
    <servlet-class>servlets.Poll_vote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poll_vote</servlet-name>
    <url-pattern>/Poll_vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Poll_view</display-name>
    <servlet-name>Poll_view</servlet-name>
    <servlet-class>servlets.Poll_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poll_view</servlet-name>
    <url-pattern>/Poll_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Poll_res_view</display-name>
    <servlet-name>Poll_res_view</servlet-name>
    <servlet-class>servlets.Poll_res_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poll_res_view</servlet-name>
    <url-pattern>/Poll_res_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grievance_nxt</display-name>
    <servlet-name>Grievance_nxt</servlet-name>
    <servlet-class>servlets.Grievance_nxt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_nxt</servlet-name>
    <url-pattern>/Grievance_nxt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grievance_prev</display-name>
    <servlet-name>Grievance_prev</servlet-name>
    <servlet-class>servlets.Grievance_prev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_prev</servlet-name>
    <url-pattern>/Grievance_prev</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Funds_nxt</display-name>
    <servlet-name>Funds_nxt</servlet-name>
    <servlet-class>servlets.Funds_nxt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Funds_nxt</servlet-name>
    <url-pattern>/Funds_nxt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Funds_prev</display-name>
    <servlet-name>Funds_prev</servlet-name>
    <servlet-class>servlets.Funds_prev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Funds_prev</servlet-name>
    <url-pattern>/Funds_prev</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Poll_nxt</display-name>
    <servlet-name>Poll_nxt</servlet-name>
    <servlet-class>servlets.Poll_nxt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poll_nxt</servlet-name>
    <url-pattern>/Poll_nxt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Poll_prev</display-name>
    <servlet-name>Poll_prev</servlet-name>
    <servlet-class>servlets.Poll_prev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poll_prev</servlet-name>
    <url-pattern>/Poll_prev</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createconst</display-name>
    <servlet-name>Createconst</servlet-name>
    <servlet-class>servlets.Createconst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createconst</servlet-name>
    <url-pattern>/Createconst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createconst2</display-name>
    <servlet-name>Createconst2</servlet-name>
    <servlet-class>servlets.Createconst2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createconst2</servlet-name>
    <url-pattern>/Createconst2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editconst</display-name>
    <servlet-name>Editconst</servlet-name>
    <servlet-class>servlets.Editconst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editconst</servlet-name>
    <url-pattern>/Editconst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editconst2</display-name>
    <servlet-name>Editconst2</servlet-name>
    <servlet-class>servlets.Editconst2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editconst2</servlet-name>
    <url-pattern>/Editconst2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteuser</display-name>
    <servlet-name>Deleteuser</servlet-name>
    <servlet-class>servlets.Deleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteuser</servlet-name>
    <url-pattern>/Deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chkuser</display-name>
    <servlet-name>Chkuser</servlet-name>
    <servlet-class>servlets.Chkuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chkuser</servlet-name>
    <url-pattern>/Chkuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chkconst</display-name>
    <servlet-name>Chkconst</servlet-name>
    <servlet-class>servlets.Chkconst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chkconst</servlet-name>
    <url-pattern>/Chkconst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chkeditconst</display-name>
    <servlet-name>Chkeditconst</servlet-name>
    <servlet-class>servlets.Chkeditconst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chkeditconst</servlet-name>
    <url-pattern>/Chkeditconst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateRSS</display-name>
    <servlet-name>GenerateRSS</servlet-name>
    <servlet-class>servlets.GenerateRSS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateRSS</servlet-name>
    <url-pattern>/GenerateRSS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Generatereports</display-name>
    <servlet-name>Generatereports</servlet-name>
    <servlet-class>servlets.Generatereports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Generatereports</servlet-name>
    <url-pattern>/Generatereports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forum_main</display-name>
    <servlet-name>Forum_main</servlet-name>
    <servlet-class>servlets.Forum_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum_main</servlet-name>
    <url-pattern>/Forum_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forum_search</display-name>
    <servlet-name>Forum_search</servlet-name>
    <servlet-class>servlets.Forum_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum_search</servlet-name>
    <url-pattern>/Forum_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forum_prev</display-name>
    <servlet-name>Forum_prev</servlet-name>
    <servlet-class>servlets.Forum_prev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum_prev</servlet-name>
    <url-pattern>/Forum_prev</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forum_nxt</display-name>
    <servlet-name>Forum_nxt</servlet-name>
    <servlet-class>servlets.Forum_nxt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum_nxt</servlet-name>
    <url-pattern>/Forum_nxt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forum_view</display-name>
    <servlet-name>Forum_view</servlet-name>
    <servlet-class>servlets.Forum_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum_view</servlet-name>
    <url-pattern>/Forum_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forum_add</display-name>
    <servlet-name>Forum_add</servlet-name>
    <servlet-class>servlets.Forum_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum_add</servlet-name>
    <url-pattern>/Forum_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forum_change</display-name>
    <servlet-name>Forum_change</servlet-name>
    <servlet-class>servlets.Forum_change</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum_change</servlet-name>
    <url-pattern>/Forum_change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chat_notify</display-name>
    <servlet-name>Chat_notify</servlet-name>
    <servlet-class>servlets.Chat_notify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chat_notify</servlet-name>
    <url-pattern>/Chat_notify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Generatereports2</display-name>
    <servlet-name>Generatereports2</servlet-name>
    <servlet-class>servlets.Generatereports2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Generatereports2</servlet-name>
    <url-pattern>/Generatereports2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_category1</display-name>
    <servlet-name>Add_category1</servlet-name>
    <servlet-class>servlets.Add_category1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_category1</servlet-name>
    <url-pattern>/Add_category1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_category2</display-name>
    <servlet-name>Add_category2</servlet-name>
    <servlet-class>servlets.Add_category2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_category2</servlet-name>
    <url-pattern>/Add_category2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_newUser</display-name>
    <servlet-name>Add_newUser</servlet-name>
    <servlet-class>servlets.Add_newUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_newUser</servlet-name>
    <url-pattern>/Add_newUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_template</display-name>
    <servlet-name>Add_template</servlet-name>
    <servlet-class>servlets.Add_template</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_template</servlet-name>
    <url-pattern>/Add_template</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addwards</display-name>
    <servlet-name>Addwards</servlet-name>
    <servlet-class>servlets.Addwards</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addwards</servlet-name>
    <url-pattern>/Addwards</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chktemplate</display-name>
    <servlet-name>Chktemplate</servlet-name>
    <servlet-class>servlets.Chktemplate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chktemplate</servlet-name>
    <url-pattern>/Chktemplate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chkward</display-name>
    <servlet-name>Chkward</servlet-name>
    <servlet-class>servlets.Chkward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chkward</servlet-name>
    <url-pattern>/Chkward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createward</display-name>
    <servlet-name>Createward</servlet-name>
    <servlet-class>servlets.Createward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createward</servlet-name>
    <url-pattern>/Createward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List_wards</display-name>
    <servlet-name>List_wards</servlet-name>
    <servlet-class>servlets.List_wards</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List_wards</servlet-name>
    <url-pattern>/List_wards</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Specialuser1</display-name>
    <servlet-name>Specialuser1</servlet-name>
    <servlet-class>servlets.Specialuser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Specialuser1</servlet-name>
    <url-pattern>/Specialuser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Specialuser2</display-name>
    <servlet-name>Specialuser2</servlet-name>
    <servlet-class>servlets.Specialuser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Specialuser2</servlet-name>
    <url-pattern>/Specialuser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grievance_add2</display-name>
    <servlet-name>Grievance_add2</servlet-name>
    <servlet-class>servlets.Grievance_add2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grievance_add2</servlet-name>
    <url-pattern>/Grievance_add2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approveuser_2</display-name>
    <servlet-name>Approveuser_2</servlet-name>
    <servlet-class>servlets.Approveuser_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approveuser_2</servlet-name>
    <url-pattern>/Approveuser_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_accessinfo</display-name>
    <servlet-name>Edit_accessinfo</servlet-name>
    <servlet-class>servlets.Edit_accessinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_accessinfo</servlet-name>
    <url-pattern>/Edit_accessinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appr_Grievance_main</display-name>
    <servlet-name>Appr_Grievance_main</servlet-name>
    <servlet-class>servlets.Appr_Grievance_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appr_Grievance_main</servlet-name>
    <url-pattern>/Appr_Grievance_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appr_Grievance_view</display-name>
    <servlet-name>Appr_Grievance_view</servlet-name>
    <servlet-class>servlets.Appr_Grievance_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appr_Grievance_view</servlet-name>
    <url-pattern>/Appr_Grievance_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appr_Grievance</display-name>
    <servlet-name>Appr_Grievance</servlet-name>
    <servlet-class>servlets.Appr_Grievance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appr_Grievance</servlet-name>
    <url-pattern>/Appr_Grievance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appr_Grievance_nxt</display-name>
    <servlet-name>Appr_Grievance_nxt</servlet-name>
    <servlet-class>servlets.Appr_Grievance_nxt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appr_Grievance_nxt</servlet-name>
    <url-pattern>/Appr_Grievance_nxt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appr_Grievance_prev</display-name>
    <servlet-name>Appr_Grievance_prev</servlet-name>
    <servlet-class>servlets.Appr_Grievance_prev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appr_Grievance_prev</servlet-name>
    <url-pattern>/Appr_Grievance_prev</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Classifieds_next</display-name>
    <servlet-name>Classifieds_next</servlet-name>
    <servlet-class>servlets.Classifieds_next</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classifieds_next</servlet-name>
    <url-pattern>/Classifieds_next</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Classifieds_prev</display-name>
    <servlet-name>Classifieds_prev</servlet-name>
    <servlet-class>servlets.Classifieds_prev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classifieds_prev</servlet-name>
    <url-pattern>/Classifieds_prev</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emp_details1</display-name>
    <servlet-name>Emp_details1</servlet-name>
    <servlet-class>servlets.Emp_details1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp_details1</servlet-name>
    <url-pattern>/Emp_details1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emp_details2</display-name>
    <servlet-name>Emp_details2</servlet-name>
    <servlet-class>servlets.Emp_details2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp_details2</servlet-name>
    <url-pattern>/Emp_details2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emp_register</display-name>
    <servlet-name>Emp_register</servlet-name>
    <servlet-class>servlets.Emp_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp_register</servlet-name>
    <url-pattern>/Emp_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot_emppswd</display-name>
    <servlet-name>Forgot_emppswd</servlet-name>
    <servlet-class>servlets.Forgot_emppswd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot_emppswd</servlet-name>
    <url-pattern>/Forgot_emppswd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify_emplogin</display-name>
    <servlet-name>Verify_emplogin</servlet-name>
    <servlet-class>servlets.Verify_emplogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify_emplogin</servlet-name>
    <url-pattern>/Verify_emplogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_classifieds1</display-name>
    <servlet-name>View_classifieds1</servlet-name>
    <servlet-class>servlets.View_classifieds1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_classifieds1</servlet-name>
    <url-pattern>/View_classifieds1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_classifieds2</display-name>
    <servlet-name>View_classifieds2</servlet-name>
    <servlet-class>servlets.View_classifieds2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_classifieds2</servlet-name>
    <url-pattern>/View_classifieds2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_classifieds3</display-name>
    <servlet-name>View_classifieds3</servlet-name>
    <servlet-class>servlets.View_classifieds3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_classifieds3</servlet-name>
    <url-pattern>/View_classifieds3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chkloginid</display-name>
    <servlet-name>Chkloginid</servlet-name>
    <servlet-class>servlets.Chkloginid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chkloginid</servlet-name>
    <url-pattern>/Chkloginid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify</display-name>
    <servlet-name>Verify</servlet-name>
    <servlet-class>servlets.Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
</web-app>